body {
    background: #177E89;
    color: #fff;
}

p, h1 {
    margin-left: 10%;
    margin-right: 10%;
}

#Intro {
    margin-top: 2%;
    margin-bottom: 4%;
}

.big-title {
    font-size: 5rem;
}

.title-github-host, .title-heroku-host {
    font-size: 2rem;
}

#github-img {
    margin-left: 10%;
    margin-bottom: 2%;
    height: 200px;
    width: 500px;
}

