body {
    background: #177E89;
    color: #fff;
}

p, h1 {
    margin-left: 10%;
    margin-right: 10%;
}

#Intro {
    margin-top: 2%;
    margin-bottom: 4%;
}

.title-github-host, .title-heroku-host {
    font-size: 2rem;
}