<%- include('partials/header') %>
  <section id="navbar">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid navcon">
        <a class="navbar-brand" href="/">Hovedside</a>
        <button class="navbar-toggler" type="button" data-bs-target="#navbarNav" data-bs-toggle="collapse" 
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavToggler">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/GitHub">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Heroku">Heroku</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <section id="Intro-github">
    <h2 class="fw-bolder text-center title-github-host">Hvordan hoste på GitHub?</h2>
    <img src="https://www.kindpng.com/picc/m/128-1280187_github-logo-png-github-transparent-png.png" class="mx-auto d-block" id="github-img" alt="Bilde av Github logo">
    <button type="button" class="btn btn-outline-light btn-lg mx-auto d-block cta-btn"><a class="intro-link" href="https://devcenter.heroku.com/articles/heroku-cli">Last ned Git</a></button>
  </section>

  <section id="tutorial-github">
   <div class="card">
      <h5 class="card-header text-center text-center">Steg 1 - Lag en Github repository </h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
         <img src="images/1 steg-github.png" id="github-repo-img" alt="Bilde av hvordan man lager en github repository">
        <p class="card-text">Det første steget for å hoste på Github er å lage en
          <a href="https://docs.github.com/en/get-started/quickstart/hello-world">Github repository.</a>
          For å lage en repository må man trykke på den grønne knappen, der det står "New".</p>
        <a href="#" class="btn btn-dark">Offisiell dokumentasjon</a>
      </div>
    </div>
  
    <div class="card">
      <h5 class="card-header text-center">Steg 2 - Sette opp en repository </h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
         <img src="images/Steg2-github.png" id="steg2-img" alt="Bilde av hvordan man skal sette opp en github repository">
        <p class="card-text">Her skal du sette opp en Github repository. 
          Du kan velge hva repositorien din skal hete, og kanskje gi den en beskrivelse som ikke er nødvendig.
          Når du er ferdig med å endre på repository innstlingene kan du trykke på "Create repository". 
          Nå kan du gå videre til neste seg.
        </p>
        <a href="#" class="btn btn-dark">Offisiell dokumentasjon</a>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header text-center">Steg 3 - Sett opp Github repository med terminalen</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
         <img src="images/Steg3-github.png" id="steg3-img" alt="Bilde av hvordan man setter opp en repository med terminalen">
        <p class="card-text">Nå skal vi sette opp github sin remotre repository med terminalen. Hvis du ikke har en terminal, 
          så kan du gå på <a href="https://hyper.is/">Hyper</a> sin nettside og laste ned derifra. 
          Det man skal gjøre nå er å kopiere det som står under "...or create a new repository on the command line".
          Når du har tastet følgende kommandoer vil du da lage en repository.
        </p>
        <a href="#" class="btn btn-dark">Offisiell dokumentasjon</a>
      </div>
    </div>
  
    <div class="card">
      <h5 class="card-header text-center">Steg 4 - </h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
         <img src="images/github-logo.png" alt="">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-dark">Offisiell dokumentasjon</a>
      </div>
    </div>

   
  </section>

  <%- include('partials/footer') %>