<%- include('partials/header') %>
  <section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Hovedside</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/GitHub">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Heroku">Heroku</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <section id="Intro-github">
    <h2 class="fw-bolder title-github-host">Hvordan hoste på GitHub?</h2>
    <img src="images/github-logo.png" id="github-img" alt="Bilde av Github logo">
    <h2 id="middle-title">Hva er GitHub?</h2>
    <p id="middle-paragraph">GitHub er en nettside og skybasert tjeneste som hjelper utviklere med å
      lagre og administrere koden deres, samt spore og kontrollere endringer
      i koden deres.</p>
  </section>

  <section id="tutorial-github">
   <div class="card">
      <h5 class="card-header">Steg 1 - Lag en Github repository </h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
         <img src="images/1 steg-github.png" id="github-repo-img" alt="Bilde av hvordan man lager en github repository">
        <p class="card-text">Det første steget for å hoste på Github er å lage en
          <a href="https://docs.github.com/en/get-started/quickstart/hello-world">Github repository.</a>
          For å lage en repository må man trykke på den grønne knappen, der det står "New".</p>
        <a href="#" class="btn btn-dark">Offisiell dokumentasjon</a>
      </div>
    </div>
  
    <div class="card">
      <h5 class="card-header">Steg 2 - Sette opp en repository </h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
         <img src="images/Steg2-github.png" id="steg2-img" alt="Bilde av hvordan man skal sette opp en github repository">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-dark">Offisiell dokumentasjon</a>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">Steg 3 - Sett opp Github repository med terminalen</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
         <img src="images/Steg3-github.png" id="steg3-img" alt="Bilde av hvordan man setter opp en repository med terminalen">
        <p class="card-text">Nå skal vi sette opp github med terminalen. Hvis du ikke har en terminal, 
          så kan du gå på <a href="https://hyper.is/">Hyper</a> sin nettside </p>
        <a href="#" class="btn btn-dark">Offisiell dokumentasjon</a>
      </div>
    </div>
  
    <div class="card">
      <h5 class="card-header">Steg 4 - </h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
         <img src="images/github-logo.png" alt="">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-dark">Offisiell dokumentasjon</a>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">Hvordan sette opp Github repository video tutorial.</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
         <img src="images/github-logo.png" alt="">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-dark">Offisiell dokumentasjon</a>
      </div>
    </div>

  </section>

  <%- include('partials/footer') %>