<%- include('partials/header') %>
<section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Hovedside</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/GitHub">GitHub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Heroku">Heroku</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>

<section id="GitHub-host">
  <h2 class="fw-bolder title-github-host">Hvordan hoste på GitHub?</h2>
    <img src="images/github-logo.png" id="github-img" alt="Bilde av Github logo">
    <h2 class="middle-title">Hva er GitHub?</h2>
      <p>GitHub er en nettside og skybasert tjeneste som hjelper utviklere med å 
        lagre og administrere koden deres, samt spore og kontrollere endringer 
        i koden deres.</p>
  </section>      

  <section id="tutorial-github">
    <h1>Steg 1</h1>
    <img src="images/1 steg-github.png" id="github-repo-img" alt="Bilde av hvordan man lager en github repository">

 <p id="steg1-text">is simply dummy text of the printing and typesetting industry. 
     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
     when an unknown printer took a galley of type and scrambled it to make a type 
     specimen book. It has survived not only five centuries, but also the leap into 
     electronic typesetting, remaining essentially unchanged. It was popularised in 
     the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
     and more recently with desktop publishing software like Aldus PageMaker including 
     versions of Lorem Ipsum.</p>
     

  </section>      

<%- include('partials/footer') %>