<%- include('partials/header') %>
<section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Hovedside</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/GitHub">GitHub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Heroku">Heroku</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>


<section id="Heroku-intro">
    <h1 class="fw-bolder text-center title-heroku-host">Hvordan hoste en web app på Heroku?</h1>
    <img src="images/Heroku.png" id="heroku-img" class="mx-auto d-block" alt="Bilde av Heroku logo">
    <button type="button" class="btn btn-outline-light btn-lg mx-auto d-block"><a class="intro-link" href="https://devcenter.heroku.com/articles/heroku-cli">Last ned Heroku CLI</a></button>
</section>

<section id="Heroku-tutorial">
  <div class="card">
    <h5 class="card-header text-center">Steg 1 - Lag en app på Heroku</h5>
    <div class="card-body">
      <h5 class="card-title">I din terminal, naviger deg til din mappe. Sørg for at alt er lastet opp på Github før du starter.</h5>
        <img src="images/Steg1-heroku.png"class="card-img-top" class="mx-auto d-block" id="Steg1-heroku" alt="Bilde av kommandoen Heroku create"> 
        <p class="card-text">Da vil den begynne å lage din app på Heroku (som vil da gjøre slik at Heroku kan ta imot din kildekode) 
          og generere dine to lenker.</p> 
         <img src="images/Steg1-heroku-2.png"class="card-img-top"  alt="Bilde av dine to lenker">
        <p class="card-text">Når du oppretter en app, opprettes også en git-fjernkontroll (kalt heroku) og assosieres med ditt lokale git-lager.</p> 
          <p class="card-text">Heroku genererer et tilfeldig navn (i dette tilfellet sharp-rain-871) for appen din, eller du kan sende en parameter for å spesifisere ditt eget appnavn.</p> 
        <p class="card-text">Nå kan du skrive koden.</p> 
          <img src="images/Steg1-heroku-3.png"class="card-img-top" id="img1-heroku-3"  alt="Bilde av kommandoen git push heroku main">  
        <p class="card-text">Sørg for at appen er klar, ved å skrive følgende kommando.</p>  
          <img src="images/Steg1-heroku-4.png"class="card-img-top"  alt="Bilde av kommandoen heroku ps:scale web=1 i terminalen"> <br> <br>
        <p class="card-text">Nå skal du gå til URlen generert av app navnet, som en snarvei kan du skrive inn følgende kommando.</p>  
           <img src="images/Steg1-heroku-5.png" class="card-img-top" class="card-img-top" alt="Bilde av kommandoen heroku open"> <br> <br>
      <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#deploy-the-app" target="_blank" class="btn btn-dark">Dokumentasjon</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header text-center">Steg 2 - Sjekke logen til din Heroku app</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
       <img src="images/Steg2-heroku.png" class="card-img-top" alt="Bilde av heroku logs">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#view-logs" target="_blank" class="btn btn-dark">Dokumentasjon</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header text-center">Steg 3 - Lag en Procfile</h5>
    <div class="card-body">
      <h5 class="card-title">Bruk en Procfile, en tekstfil i din hoved directory til applikasjonen din, for å deklarere hvilken kommando som skal utføres for å starte appen.</h5>
      <img src="images/Steg3-2heroku.png" class="card-img-top" alt="bilde av tekst der det står touch Procfile">
      <p class="card-text">Nå skal du lage en Procfile. Det gjør du ved å skrive "touch Procfile" i vscode terminalen.</p>
       <img src="images/Steg3-heroku.png" class="card-img-top" id="img3-heroku" alt="bilde av tekst der det står web: node app.js">
      <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#define-a-procfile" target="_blank" class="btn btn-dark">Dokumentasjon</a>
    </div>
  </div>


  <div class="card">
    <h5 class="card-header text-center">Steg 4 - Åpne Heroku nettsiden</h5>
    <div class="card-body">
      <img src="images/Steg4-heroku.png" height="70" alt="Bilde av en random web app"/>
      <p class="card-text">For å finne din web app, må du navigere deg til <a href="https://dashboard.heroku.com/apps">Heroku sin dashboard.</a></p>
      <img src="images/Steg4-2-heroku.png" alt="Bilde av web appen i heroku sine innstillinger">
      <p class="card-text">Etter du har klikket på heroku serveren din sitt navn, ser du dette.
        Nå skal du trykke på "open app" for å få nettsiden din opp.</p>
    </div>
  </div>
</section>

<section id="video.js">
  <video id="my-video" class="video-js mx-auto d-block" controls preload="auto" width="640" height="300"
    poster="images/GithubVSHeroku.jpeg" data-setup="{}" alt="video av hvordan man setter opp..">
    <source src="images/0258d89a6fcc664618207669f2afc52f.mp4" type="video/mp4" />
    <source src="MY_VIDEO.webm" type="video/webm" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
</section>

<%- include('partials/footer') %>