<%- include('partials/header') %>
<section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Hovedside</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/GitHub">GitHub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Heroku">Heroku</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>


<section id="Heroku-intro">
    <h2 class="fw-bolder title-heroku-host">Hvordan hoste en web app på Heroku?</h2>
    <img src="images/Heroku.png" id="heroku-img" class="mx-auto d-block" alt="Bilde av Heroku logo">
</section>

<section id="Heroku-tutorial">
  <div class="card">
    <h5 class="card-header">Steg 1 - Lag en app på Heroku</h5>
    <div class="card-body">
      <h5 class="card-title">I din terminal, naviger deg til din mappe. Sørg for at alt er lastet opp på Github før du starter.</h5>
        <img src="images/Steg1-heroku.png" alt="Bilde av kommandoen Heroku create"> 
        <p class="card-text">Da vil den begynne å lage din app på Heroku (som vil da gjøre slik at Heroku kan ta imot din kildekode) 
          og generere dine to lenker.</p> 
         <img src="images/Steg1-heroku-2.png" alt="Bilde av dine to lenker">
        <p class="card-text">Når du oppretter en app, opprettes også en git-fjernkontroll (kalt heroku) og assosieres med ditt lokale git-lager.</p> 
          <p class="card-text">Heroku genererer et tilfeldig navn (i dette tilfellet sharp-rain-871) for appen din, eller du kan sende en parameter for å spesifisere ditt eget appnavn.</p> 
        <p class="card-text">Nå kan du skrive koden.</p> 
          <img src="images/Steg1-heroku-3.png" alt="Bilde av kommandoen git push heroku main">  
        <p class="card-text">Sørg for at appen er klar, ved å skrive følgende kommando.</p>  
          <img src="images/Steg1-heroku-4.png" alt="Bilde av kommandoen heroku ps:scale web=1 i terminalen"> <br> <br>
        <p class="card-text">Nå skal du gå til URlen generert av app navnet, som en snarvei kan du skrive inn følgende kommando.</p>  
           <img src="images/Steg1-heroku-5.png" alt="Bilde av kommandoen heroku open"> <br> <br>
      <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#deploy-the-app" class="btn btn-dark">Dokumentasjon</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Steg 2 - Sjekke logen til din Heroku app</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
       <img src="images/github-logo.png" alt="">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-dark">Dokumentasjon</a>
    </div>
  </div>
</section>




<%- include('partials/footer') %>