<%- include('partials/header') %>
  <section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Hovedside</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/GitHub">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Heroku">Heroku</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <section id="Intro">
    <h1 class="text-center big-title fw-bolder">Sammenligning av GitHub og Heroku</h1>
  </section>

  <section id="Github vs Heroku">

    <img src="images/GithubVSHeroku.jpeg" class="mx-auto d-block" alt="Bildet av Github og Heroku logoene" />

    <div class="card Github-sammenligning">
      <div class="card-header text-center">Fordeler - Github</div>
      <div class="card-body">
        <h2 class="card-title">Fordel 1 - Man ser koden sin</h2>
        <img src="images/github-repo.png" class="card-img-top" alt="Bilde av Github repository" />
        <p class="card-text">Når man lager en github repository, kan en pushe koden sin på github og ha koden liggende
          der.
          Slik at andre utviklere og potensieelle arbeidsgivere kan gå gjennom koden din.
        </p>
        <h2 class="card-title">Fordel 2 - Andre kan se koden din og kommentere på hva du har gjort.</h2>
        <img src="images/github-issues.png" alt="bilde av github issue seksjonen" class="card-img-top">
        <p class="card-text">Andre utviklere har også tilgang til koden din. De kan for eksempel kommentere på koden,
          åpne <a href="https://github.com/features/issues">Github issue.</a>
          Og de kan laste ned det du har lastet opp på github.
        </p>
        <h2 class="card-title">Fordel 3 - Du kan sjekke dine endringer for hver gang du pusher</h5>
          <img src="images/github-commits.png" alt="" />
          <p class="card-text">Når flere personer samarbeider om et prosjekt,
            er det vanskelig å holde oversikt over revisjoner -
            hvem endret hva, når og hvor disse filene er lagret.
            GitHub tar seg av dette problemet ved å holde styr
            på alle endringene som har blitt pushet til repository.
            Du sjekker dette når du trykker på commits knappen.
          </p>
      </div>
    </div>

    <div class="card Heroku-sammenligning">
      <div class="card-header text-center">Ulemper - GitHub</div>
      <div class="card-body">
        <h2 class="card-title">Ulempe 1 - Sikkerhet</h2>
        <img src="https://pbs.twimg.com/profile_images/558392148697939968/FSHEYq_5_400x400.png"
          alt="bilde av github security">
        <p class="card-text">GitHub tilbyr private repositories,
          men dette er ikke nødvendigvis perfekt for mange.
          For høy verdi intellektuell eiendom, legger du alt
          dette i hendene på GitHub så vel som alle som har en pålogging,
          som i likhet med mange nettsteder har hatt sikkerhetsbrudd før
          og er målrettet konstant. Det er ofte bedre enn ingenting, men det er ikke perfekt.
          I tillegg vil noen klienter/arbeidsgivere kun tillate kode på sin egen sikre interne
          Git som et spørsmål om policy.
        </p>
        <h2 class="card-title">Ulempe 2 - Downtime for GitHub </h2>
        <img src="https://img.gfx.no/2719/2719515/404-github.1200x676.jpg" alt="Githubsiden finnes ikke error 404">
        <p class="card-text">Hvis du har et prosjekt på Github eller din egen portefølje, kan det være at github får
          downtim.
          Dette vil si at du ikke kan gå inn på din egen github repository, hvis du har noe hostet der. Da vil du
          kanskje får
          feilmeldingen i det bilde ovenfor.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center">Fordeler - Heroku</div>
        <div class="card-body">
          <h2 class="card-title">Fordel 1 - Støtter mange programmeringsspårk</h2>
            <img src="https://cdn.pixabay.com/photo/2016/11/18/15/22/programmer-1835332_960_720.png" alt="bilde av forskjellige programmeringsspårk">
          <p class="card-text">Heroku kan hoste nettsider som inneholder masse forskjellige programmeringsspårk. Blant de ser du på bilde ovenfor.</p>
          <h2 class="card-title">Fordel 2 - Server hosting</h2>
            <img src="https://cdn.pixabay.com/photo/2020/07/31/05/44/server-5451985_960_720.jpg" alt="bilde av serverhosting"> 
          <p class="card-text">Når du pusher koden din, forbereder Heroku den for utførelse i en dyno - en smart beholder med en sikker, kurert Node-stabel.</p>
          <h2 class="card-title">Fordel 3 - Rask å distribuere</h2>
            <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/modules/heroku_enterprise_baiscs/your_first_deployment/images/ac480b21da7d6fa310399c36c673a1cf_create-new-app.png" alt="bilde av hva du vil kalle din heroku app for">
          <p class="card-text">Heroku tar kort tid å sette opp. Det er veldig enkle steg man må gjennom for å få hoste på Heroku. Du kan se på deres dokumentasjon for å hoste.</p>
        </div>
    </div>

    <div class="card">
      <div class="card-header text-center">Oppsummering</div>
        <div class="card-body">
          <p class="card-text">Github er et bra nettsted som man hoste statiske nettsider. 
            Man kan vise koden bak nettisden sin på GitHub, 
            også kan man kommentere på andre sine koder samtidig som kan kopiere/pulle andre folks repositories.
            Det er lurt å legge ut koden sin på github slik at arbeidsgivere kan se gjennom profilen din, og kanskje innkalle
            deg til et intervju. De kan se hvilke programmeringsspårk du kan og kanskje ikke kan. 
            Heroku er en skyplattform som lar bedrifter bygge, levere, 
            overvåke og skalere apper – vi er den raskeste måten å gå fra idé til URL-adresse, 
            og omgår all infrastrukturhodepinen. Apper er transformative – apper er hvordan kunder
             nå kommuniserer med selskaper. Utviklere er avgjørende for app-suksess.
          </p>
        </div>
    </div>
  </section>
 





  <!--https://coolors.co/08605f-177e89-598381-8e936d-a2ad59-->




  <%- include('partials/footer') %>