<%- include('partials/header') %>
  <section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Hovedside</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/GitHub">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Heroku">Heroku</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <section id="Intro">
    <h1 class="text-center big-title fw-bolder">Sammenligning av GitHub og Heroku</h1>
  </section>

  <section id="Github vs Heroku">

    <img src="images/GithubVSHeroku.jpeg" class="mx-auto d-block" alt="Bildet av Github og Heroku logoene">

    <div class="card Github-sammenligning">
      <h2 class="card-header">Fordeler - Github</h2>
      <div class="card-body">
        <h2 class="card-title">Fordel 1 - Man ser koden sin</h2>
        <img src="images/github-repo.png" class="card-img-top" alt="Bilde av Github repository">
        <p class="card-text">Når man lager en github repository, kan en pushe koden sin på github og ha koden liggende
          der.
          Slik at andre utviklere og potensieelle arbeidsgivere kan gå gjennom koden din.
        </p>
        <h2 class="card-title">Fordel 2 - Andre kan se koden din og kommentere på hva du har gjort.</h2>
        <img src="images/github-issues.png" alt="bilde av github issue seksjonen" class="card-img-top">
        <p class="card-text">Andre utviklere har også tilgang til koden din. De kan for eksempel kommentere på koden,
          åpne <a href="https://github.com/features/issues">Github issue.</a>
          Og de kan laste ned det du har lastet opp på github.
        </p>
        <h2 class="card-title">Fordel 3 - Du kan sjekke dine endringer for hver gang du pusher</h5>
          <img src="images/github-commits.png" alt="" />
          <p class="card-text">Når flere personer samarbeider om et prosjekt, 
            er det vanskelig å holde oversikt over revisjoner - 
            hvem endret hva, når og hvor disse filene er lagret.
            GitHub tar seg av dette problemet ved å holde styr 
            på alle endringene som har blitt pushet til repository. 
            Du sjekker dette når du trykker på commits knappen.
          </p>
      </div>
    </div>
  </section>
  <section id="video.js">
    <video id="my-video" class="video-js mx-auto d-block" controls preload="auto" width="640" height="264"
      poster="images/GithubVSHeroku.jpeg" data-setup="{}" alt="video av hvordan man setter opp..">
      <source src="images/0258d89a6fcc664618207669f2afc52f.mp4" type="video/mp4" />
      <source src="MY_VIDEO.webm" type="video/webm" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
  </section>





  <!--https://coolors.co/08605f-177e89-598381-8e936d-a2ad59-->




  <%- include('partials/footer') %>