body {
    background: #177E89;
    color: #fff;
    font-family: "poppins", sans-serif;
}

p, h1, h2 {
    margin-left: 10%;
    margin-right: 10%;
}

#Intro {
    margin-top: 2%;
    margin-bottom: 4%;
}

.nav-link  {
    font-size: 1.25rem;
}

.big-title {
    font-size: 3rem;
}

.title-github-host, .title-heroku-host {
    font-size: 3rem;
    margin-top: 2%;
}

.intro-link{
    color: #fff;
    text-decoration: none;
}

.intro-link:hover {
    color: #000;
}
 
a {
    text-decoration: none;
}


#Steg1-heroku {
    width: 500px;
    margin-left: 30%;
}


#middle-title {
    margin-top: 10%;
    font-size: 2.50rem;
    font-weight: bolder;
}

#middle-paragraph {
    margin-bottom: 10%;
}

/* #tutorial-github {

} */

footer {
    background-color: #fff; 
    text-align: center;
    margin-top: 5%;
    padding-bottom: 2%;
    font-size: 1.25rem;
}

.footer-text {
    padding-top: 2%;
    color: black;
}

#github-img {
    height: 300px;
    width: 800px;
    margin-top: 2%;
}

#github-repo-img {
    width: 300px;
    height: 600px;
}

#github-create-repo {
    width: 600px;
}

#github-repo-terminal-setup {
    width: 1000px;
    height: 600px;
}

#github-repo-terminal-setup, #github-create-repo, #github-img, #github-repo-img {
    margin-bottom: 2%;
    margin-left: 10%;
    margin-bottom: 2%;
}

@media only screen and (max-width: 549px) {
    #github-img {
        margin-left: 10%;
        margin-bottom: 2%;
        height: 200px;
        width: 392px;
    }
}

@media only screen and (max-width: 1525px) {
    #steg3-img, #steg2-img {
        width: 90%;
    }
}

/*HEROKU SEKSJON STARTER HER*/

.card {
    margin-left: 10%;
    margin-right: 10%;
}

.card-header {
    font-size: 3rem;
}

.card-text, .card-header, .card-title {
    color: black;
    margin-left: 0%;
}

.card-text {
    margin-top: 1%;
}


#heroku-img {
    background: #fff;
    width: 500px;
    height: 530px;
    margin-bottom: 2%;
    margin-top: 2%;
}

#my-video {
    margin-top: 5%;
}

#img1-heroku-3 {
    width: 900px;
}

.Github-sammenligning {
    margin-top: 5%;
}

.btn {
    margin-bottom: 2%;
}

#title-photo {
    width: 50%;
    height: auto;
}

.img-home {
    width: 50%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}
