body {
    background: #177E89;
    color: #fff;
}

p, h1, h2 {
    margin-left: 10%;
    margin-right: 10%;
}

#Intro {
    margin-top: 2%;
    margin-bottom: 4%;
}

.nav-link  {
    font-size: 1.25rem;
}

.big-title {
    font-size: 3rem;
}

.title-github-host, .title-heroku-host {
    font-size: 3rem;
    margin-top: 2%;
}

a {
    color: #fff;
}

a:hover {
    cursor: pointer;
    color: rgb(124, 23, 23);
}

/* #tutorial-github {

} */

#steg1-text {
    display: flex;
    align-items:center;
}

footer {
    background-color: #fff; 
    text-align: center;
    margin-top: 5%;
    padding-bottom: 2%;
    font-size: 1.25rem;
}

.footer-text {
    padding-top: 2%;
    color: black;
}

#github-img {
    margin-left: 10%;
    margin-top: 2%;
    height: 300px;
    width: 800px;
}

#github-repo-img {
    width: 300px;
    height: 600px;
    margin-left: 10%;
    margin-bottom: 2%;
}

#github-create-repo {
    margin-left: 10%;
    margin-bottom: 2%;
    width: 600px;
}

@media only screen and (max-width: 549px) {
    #github-img {
        margin-left: 10%;
        margin-bottom: 2%;
        height: 200px;
        width: 392px;
    }
}

